* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    background-color: rgb(28, 126, 121);
}

.grid {
    display: grid;
    grid-template: 4fr/repeat(4,auto);
    grid-column-gap: 25px;
    border-radius: 20px;
    padding: 10px;
    margin: 30px;

}

h1 {
    padding: 16px;
}
